header {
    background-color: #0B1C51;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 52px;
    margin: 10px;
}

header nav {
    display: flex;
    flex-direction: column;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li a {
    color: white;
    font-family: Montserrat;
    text-decoration: none;
    padding: 15px;
}

@media all and (min-width: 700px) {
    header {
        flex-direction: row;
        justify-content: space-evenly;
    }

    header h1 {
        font-size: 48px;
        margin-left: 20px;
    }

    header nav ul li:last-child {
        margin-right: 20px;
    }
}
